<!DOCTYPE html>
<html>
<head>
    <title>S.Z.5提交充值凭证 - 华车网</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="华车网" />
    <meta name="keywords" content="华车网" />
    <meta name="author" content="llm" />
    <link href="/webhtml/user/themes/bootstrap.css " rel="stylesheet" />
    <link href="../common/css/common.css" rel="stylesheet" />
    <link href="themes/custom.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="head-wrapper">
        <div class="head-container">
            <div class="head-logo-wrapper">
                <a class="logo" href="/">华车网</a>
            </div>
            <ul class="head-nav-wrapper">
                <li><a href="#baozhang">诚信保障</a></li>
                <li><a href="#services">帮助中心</a></li>
            </ul>
            <ul class="head-login-wrapper">
                <li class="loginout">
                    <label>欢迎您，<a href="/user/" class="juhuang">客官8792</a><a href="/user/" class="hc-status inline-block">我的华车</a> </label>
                    <a @click="loginOutConfirm" href="javascript:;" class="hc-status-loginout">下车<em>(退出)</em></a>  
                    <div v-cloak v-show="isShowLoginOut" class="login-out-comfirm">
                        <p>退出登陆状态将重新回到<br>华车首页，是否继续？</p>
                        <div class="confirm">
                            <a @click="sureLoginOut" href="javascript:;">确认退出</a> 
                            <a @click="canceLoginOut" href="javascript:;" class="cancel">取消</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
   
    <div class="container m-t-86 pos-rlt content">
        <div class="wapper has-min-step">
            <div class="box box-border noborder nopadding">
                <div class="slide slide-fix">
                     <div class="portlet-body">
                        <div class="panel-group accordion">
                        
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle"  href="javascript:;">欢迎页 </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle"  href="javascript:;">我的信息 </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse ">
                                    <div class="panel-body">
                                        <a href="#">基本信息</a>
                                        <a href="#">修改密码</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle"  href="javascript:;">常用管理 </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse ">
                                    <div class="panel-body">
                                        <a href="#">基本信息</a>
                                        <a href="#">常用车型</a>
                                        <a href="#" class="">保险设定</a>
                                        <a href="#" class="">客户文件</a>
                                        <a href="#" class="">工作时段</a>
                                        <a href="#" class="">增加经销商</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:;"> 报价管理  </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body" >
                                        <a href="#">开始新建</a>
                                        <a href="#">新建未完(6)</a>
                                        <a href="#">等待生效(9)</a>
                                        <a href="#">正在报价(6)</a>
                                        <a href="#">暂时下架(6)</a>
                                        <a href="#">失效报价(6)</a>
                                    </div>


                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:;"> 订单管理  </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body" >
                                        <a href="#">执行中(17)</a>
                                        <a href="#">已结束(1)</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:;"> 资金管理  </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body" >
                                        <a href="#">总 览</a>
                                        <a href="#">资 金 池</a>
                                        <a href="#">加 信 宝</a>
                                        <a class="menu-select" href="#">充值</a>
                                        <a href="#">提现</a>
                                        <a href="#">结算</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default last">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:;"> 便捷工具  </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse ">
                                    <div class="panel-body" >
                                        <a href="#">交车预备管理</a>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="custom-content custom-content-with-margin  psr">
                    <p class="blue mt20">提交充值凭证</p>
                    <hr class="dashed">
                    <h3 class="ul-prev-big fs14">
                        <p>请使用您已认证并绑定的<span class="juhuang">本人银行账户（***2356/张***）</span>，采用网上银行、手机银行、银行柜面等途径直接转账至华车，</p>
                        <p>公司收款账户信息如下：</p>
                    </h3>  
                    <br>
                    <p class="fs14 ml50">开户行：浙江泰隆商业银行苏州木渎支行</p>
                    <p class="fs14 ml50">帐 号：3202060120100011863</p>
                    <p class="fs14 ml50"><span>户 名：苏州华车网络科技有限公司</span><a href="javascript:;" @click="sendCode" class="ml30 juhuang tdu">发送到手机</a></p>
                    
                    <h3 class="ul-prev-big fs14">温馨提示：</h3>
                    <div class="ml30 ul-prev-small">
                    <span class="red">请务必在汇款附言中注明：本人充值。</div>
                    <div class="ml30 ul-prev-small">
                      入账金额和入账时间均以实际确认到账为准，若汇款信息不全或不符造成退回，请恕相关责任由您承担。
                    </div>


                    <h3 class="ul-prev-big fs14">提交转账凭证和信息（单张银行转账回单，请制作1张清晰图片上传提交，如有多张回单，请分次提交。）</h3>
                        <form action="/order/bank">
                          <table class="fs14 ml20 tbl-bank">
                              <tr>
                                  <td align="right"><span class="red">*</span><span class="ml5">充值金额：</span></td>
                                  <td>
                                      <div class="form-group psr pdi-control fs14">
                                          <span class="psa credentials-symbol">￥</span> 
                                          <input type="text" @focus="initPrice" @blur="checkPrice" :value="price" v-model="price" name="price" placeholder="输入金额，最多保留小数点后2位" class="form-control pay-control credentials--control" :class="{'error-bg':isPrice}"> 
                                          <span class="edit credentials-edit"></span> 
                                          <input type="hidden" name="hfprice" v-model="priceSource" :value="priceSource">
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td align="right" valign="top"><span class="red">*</span><span class="ml5">上传凭证图片：</span></td>
                                  <td>
                                      <span>（仅支持JPG、GIF、PNG、JPEG、BMP格式，尺寸小于5M）</span>
                                      <br><br>
                                      <div class="psr tac">
                                          <div class="bank-upload-pz-wapper tac ">
                                                <img  @click="upload" width="200" id="upload-img-bank" :src="isFile ? './themes/images/upload-error.png' : './themes/images/upload.gif'">
                                                <div class="fileinputlist"></div>
                                                <p id="fileerror" class="inputerror juhuang fs14 mt5 hide">您尚未上传任何文件，请先上传！</p>
                                                <input @change="previewFile($event,'upload-img-bank')" type="file" name="upload-file" id="upload-file" class="hide">
                                          </div>
                                      </div>
                                    
                                  </td>
                              </tr>
                          </table>
                        </form>
                        <div class="m-t-10" v-for="i in 3   "></div>
                        <div class="tac">
                          <a @click="send" href="javascript:;" class="btn btn-s-md btn-danger fs16 btn-s w100">提交</a>
                          <a href="S.Z.4充值.html" class="btn btn-s-md btn-danger fs16 btn-s w100 sure ml50">返回</a>
                        </div> 

                        
                    <div id="tipWin" class="popupbox">
                        <div class="popup-title"><span>发送短信</span></div>
                        <div class="popup-wrapper">
                            <div class="popup-content">
                                <div class="m-t-10"></div>
                                <p class="fs14 pd tac" >
                                   <span class="tip-tag bp0"></span>
                                   <span class="tip-text mt10">确定向手机139****5678发送收款账户短信吗？ </span>
                                   <div class="clear"></div>
                                   <br>
                                <div class="m-t-10"></div>
                            </div> 
                            <div class="popup-control">
                                <a href="javascript:;" @click="doSendCode" class="btn btn-s-md btn-danger fs14 do w100">确定</a>
                                <a href="javascript:;" class="btn btn-s-md btn-danger fs14 do w100 sure ml50">取消</a>
                                <div class="clear"></div>
                               
                                <div class="m-t-10"></div>
                            </div> 
                        </div>
                    </div>

                    <div id="successWin" class="popupbox">
                        <div class="popup-title"><span>发送短信</span></div>
                        <div class="popup-wrapper">
                            <div class="popup-content">
                                <div class="m-t-10"></div>
                                <p class="fs14 pd tac" >
                                   <span class="tip-tag bp0"></span>
                                   <span class="tip-text mt10">短信发送成功！<br>接收短信一般不超过2分钟，<br>长时间未收到可再申请重发～</span>
                                </p>
                            </div> 
                            <div class="popup-control">
                                <p><span class="red">{{countDownNum}}</span>秒后自动关闭</p>
                                <a href="javascript:;" class="btn btn-s-md btn-danger fs14 do w100 sure">关闭</a>
                                <div class="clear"></div>
                            </div> 
                        </div>
                    </div>

                    <div id="errorWin" class="popupbox">
                        <div class="popup-title"><span>提示</span></div>
                        <div class="popup-wrapper">
                            <div class="popup-content">
                                <div class="m-t-10"></div>
                                <p class="fs14 pd tac" >
                                   <span class="tip-tag bp0"></span>
                                   <span class="tip-text mt10">客官，您点击的太频繁啦，可以稍后重新发送哦！</span>
                                   <div class="clear"></div>
                                   <br>
                                <div class="m-t-10"></div>
                            </div> 
                            <div class="popup-control">
                                <a href="javascript:;" class="sure btn btn-s-md btn-danger fs14 do w100">确定</a>
                                <div class="clear"></div>
                               
                                <div class="m-t-10"></div>
                            </div> 
                        </div>
                    </div>

                    <div id="endWin" class="popupbox">
                        <div class="popup-title"><span>提示</span></div>
                        <div class="popup-wrapper">
                            <div class="popup-content">
                                <div class="m-t-10"></div>
                                <p class="fs14 pd tac" >
                                   <span class="tip-tag bp0"></span>
                                   <span class="tip-text mt10">客官，今天的短信发送次数已用光，<br>请明天再来发送吧！</span>
                                   <div class="clear"></div>
                                   <br>
                                <div class="m-t-10"></div>
                            </div> 
                            <div class="popup-control">
                                <a href="javascript:;" class="sure btn btn-s-md btn-danger fs14 do w100">确定</a>
                                <div class="clear"></div>
                                <div class="m-t-10"></div>
                            </div> 
                        </div>
                    </div>

                    <div id="subWin" class="popupbox">
                        <div class="popup-title"><span>提交凭证</span></div>
                        <div class="popup-wrapper">
                            <div class="popup-content">
                                <div class="m-t-10"></div>
                                <p class="fs14 pd tac" >
                                   <span class="tip-tag bp0"></span>
                                   <span class="tip-text mt10">确定您准备提交的内容无误并立即提交吗？ </span>
                                   <div class="clear"></div>
                                   <br>
                                <div class="m-t-10"></div>
                            </div> 
                            <div class="popup-control">
                                <a href="javascript:;" @click="doSend" class="btn btn-s-md btn-danger fs14 do w100">确定</a>
                                <a href="javascript:;" class="btn btn-s-md btn-danger fs14 do w100 sure ml50">取消</a>
                                <div class="clear"></div>
                                <div class="m-t-10"></div>
                            </div> 
                        </div>
                    </div>
                        
                    <div class="m-t-10" v-for="i in 15"></div>

                </div>
                <div class="clear"></div>

            </div>
        </div>
    

                </div>
                <div class="clear"></div>

            </div>
        </div>

    </div>

    <footer class="footer">
        <div class="footer-menu container">
            <ul>
                <li>
                    <h3>用户指南</h3>
                    <a href="#">买车流程</a>
                    <a href="#">诚信保障</a>
                    <a href="#">注意事项</a>
                </li>
                <li>
                    <h3>服务中心</h3>
                    <a href="#">服务协议</a>
                    <a href="#">平台规则</a>
                    <a href="#">常见问题</a>
                </li>
                <li>
                    <h3>关于我们</h3>
                    <a href="#">平台简介</a>
                    <a href="#">联系方式</a>
                    <a href="#">发现职位</a>
                </li>
                <li>
                    <h3>商务合作</h3>
                    <a href="#">加盟方入口</a>
                    <a href="#">媒体合作</a>
                    <a href="#">友情链接</a>
                </li>
                <li>
                    <div class="qrcode"><p>加微信关注我们</p></div>
                </li>
            </ul>
        </div>
        <div class="sp"></div>
        <div class="container pos-rlt foot-info">
            <p>@CopyRight 2014- 2015, 苏州华车网络科技有限公司   版权所有</p>
            <p> 工业信息化部信息备案：苏ICP备14017673号-1 </p>
        </div>
    </footer>

    <script src="./js/sea.js"></script>
    <script src="./js/config.js"></script>
    <script src="/webhtml/common/js/vendor/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        seajs.use(["../common/js/vendor/vue.min","module/custom/custom-submit-charging-credentials", "module/common/common"],function(v,u,c){
            
        })
    </script>

</body>
</html>


