.container{
    width:1000px !important;
}
.search-def-option dt.s-area {
    width: auto;
    padding: 0 34px;
    +padding: 0 55px;
}
.container h1{
    text-align:center;background:#ff8931;
    width:268px;height:40px;line-height:40px;color:#fff;font-size:18px;font-weight:bold;
    margin-left:10px;
}
.search-def-option {
   color:#7f7f7f;
}
.w80p{width:80%;}
.container .tbl{
   width:100%;margin:10px auto;
}
.container .tbl td{
   width:33%;
   border: 1px solid #dcdddd;
   padding: 10px;
   color: #7f7f7f;
}
.container .tbl td.nobordres{ 
   border: 0; 
}
.container .tbl td.prev-title{
   text-align:right;font-weight:bold;
}

.container .tbl td.t-footer{
    text-align:left;background:#fff8f3;
}
.container .tbl td.t-footer p{
    text-align:left;font-size:16px;position:relative;
}
.container .tbl td.t-footer p i {
    
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #9fa0a0;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -o-transform: rotateZ(-90deg);
    transition: transform .2s linear;
    -webkit-transition: transform .2s linear;
    -moz-transition: transform .2s linear;
    -o-transition: transform .2s linear;
    margin-left:17px;
    position:absolute;
    left:60px;
    top:0px;
    _display:none;
}

.container .tbl td.t-footer p i.hidec {
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);
}