.container {
    width: 1000px !important;
}
.wapper {
    box-shadow:0 0 15px #A5A5A5;
    -moz-box-shadow:0 0 15px #A5A5A5;
    -webkit-box-shadow:0 0 15px #A5A5A5;
    margin:20px 0;
}
.wapper label {
   font-weight:500;
}
h3{margin:0;padding:0;height:inherit;line-height:inherit;color:#727171;}
.hd{
    height:60px; line-height:60px;padding-left:50px;
}
.hd h3 span{
    color:#ff8931;
}

.w900{
    width:900px;margin:0 auto;border-bottom:1px dashed #dcdddd;
    background:url(images/pay/tig.gif) no-repeat 0 50%;
}
.bank-wapper{
    padding:10px;width:900px;margin:0 auto;
    border-bottom:1px dashed #dcdddd;
}
.noborder{border:0;}
.noborder p,.noborder small{width:35%;margin:0 auto;display:block;line-height:22px;color:#727171;}
.noborder small{color:#bdbdbd;}
.noborder small i{font-style:normal;}
.bank-wapper a{
   text-decoration:none;
}
.bank-wapper img{
    margin:10px 5px;
}
.zhifu-tip{
    position:absolute;left:0;top:0;width:100%;height:100%;
    z-index: 10000;background: rgba(0,0,0,.7);
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);display:none;
}
.pay-win{width:450px;height:250px;position:fixed;_position:absolute;background:#fff;}
.pay-win h2{
    height:40px;line-height:40px;background:#ff8931;text-align:center;color:#fff;margin:0;font-size:18px;
}

.pay-win .tip-info{
    position:relative;padding-top:60px;
    background:url(images//pay/tip.gif) no-repeat 20px 50px;height:120px;
}
.pay-win .tip-info p{
    margin:0;padding:0;line-height:22px;padding-left:101px;color:#c7c6c6;
}
.pay-win  .tip-control-a{
    margin:0 auto;text-align:center;padding-top:15px;
}
.pay-win  .tip-control-a a{
    display:inline-block;width:140px;height:30px;line-height:30px;border:1px solid #ff8931;color:#ff8931;text-align:center;
     margin-right:10px;
     border-radius: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}
.pay-win  .tip-control-a a:hover{
    /*text-decoration:none;*/
}
.form {
   margin:0 auto;
}
.form h4 {
    text-align: center;
    color: #FF8931;
    font-size: 24px;
    font-weight: bolder;
    font-family: "\5FAE\8F6F\96C5\9ED1", sans-serif;
    height: 50px;
    background: url(images/common/icon-sucess.png) no-repeat 0 50%;
    line-height: 50px;
    width: 56%;
    margin: 0 auto;
}
ul.tip{
    color:#b9b9b9;display:block;width:1000px;margin:20px auto;list-style-type:none;
}
ul.tip li{
padding:5px 20px 5px 40px;position:relative;
}
ul.tip li i{
position:absolute;width:10px;height:10px;background:#dcdddd;display:inline-block;left: 18px;top: 11px;
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
}