.navbar-inverse{+width:1001px!important;}
.container{width:1000px!important;margin-left:auto;margin-right:auto;}
.navbar-fixed-top{+left:auto;+right:auto;}
.footer-menu{border:0;}
hr.dashed{border:0;border-bottom:1px dashed #dcdddd;}
.file-prev{background:url(images/item/file-pre.png) no-repeat;display:inline-block;padding-left:25px;margin-left:10px;}
.cp{cursor:pointer;}
.content .wapper .pr150{padding-right:150px;}
.box-inner{display:none;}
.box-inner-def{display:block;}
.clear{clear:both;}
.lh22{line-height:22px;}
.fs14{font-size:14px!important;}
.fs15{font-size:15px}
.fs16{font-size:16px}
.fs18{font-size:18px}
.w100{width:100px!important;}
.w600{width:600px;}
.nomargin{margin:0}
.noweight{font-weight:normal!important;}
.m-t-10{margin-top:10px;}
.tac{text-align:center;}
.tal{text-align:left;}
.tar{text-align:right;}
.trbg{background:#fff8f3;}
.tdu{text-decoration:underline;}
.ti{text-indent:2em;}
.ti1{text-indent:1em;}
.fn,input[type="radio"].fn,input[type="checkbox"].fn{font-style:normal;font-weight:normal;padding-left:5px}
.fl{float:left;}
.fr{float:right;}
.ml200{margin-left:200px;}
.bts{margin-left:5px;}
.fl .form-group{margin:0 auto 5px auto;}
.psr{position:relative;}
.ml150{padding-left:150px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl5{padding-left:5px;}
.ml20{margin-left:20px!important;}
.ml10{margin-left:10px!important;}
.ml160{margin-left:160px!important;}
.ml260{margin-left:260px!important;}
.ml200{margin-left:200px!important;}
.ml185{margin-left:185px!important;}
.wp45{width:45%;}
.wp100{width:100%!important;}
.pt20{padding-top:20px;}
.di{display:inline-block;}
.ml5{margin-left:5px!important;}
.ml50{margin-left:50px!important;}
.mt5{margin-top:5px!important;}
.mt10{margin-top:10px!important;}
.mt20{margin-top:20px;}
.mt60{margin-top:60px;}
.w50{width:50%!important;}
.w49{width:49%!important;}
.w70{width:70%!important;}
.tdu{text-decoration:underline;}
.juhuang{color:#ff994c;}
.pl85{padding-left:85px;}
.weight{font-weight:bold;}
.box-border{border:1px solid #ddd;border-top:0;}
.zm-all{position:fixed;z-index:99999;background-color:rgb(0,0,0);width:100%;height:100%;background-color:rgba(0,0,0,0.30);left:0;top:0;display:none;filter:alpha(opacity=30);}
.sp{width:100%;border-bottom:2px solid #ff872f;}
.psa{position:absolute;}
.slide{width:180px;float:left;font-size:14px;}
.user-content{width:817px;float:left;}
.wapper{margin-top:20px;}
.panel-group .panel + .panel{margin-top:0px;}
.panel-group .panel{margin-bottom:0;border-radius:0px;border-bottom-width:0;border-right:0;border-left:0;}
.panel-group .last{border-bottom-width:1px;}
.panel-title{text-align:center;color:#727171;font-size:14px;font-weight:bold;}
.panel-title a:hover,.panel-title a:active{text-decoration:none;}
.panel-body a{display:block;height:30px;line-height:30px;text-align:center;}
.panel-heading{position:relative;}
.fa{width:11px;height:6px;display:block;position:absolute;top:15px;right:16px;}
.fa-sort-down{background:url(../themes/images/user/fa-sort-down.gif) no-repeat;}
.fa-sort-up{background:url(../themes/images/user/fa-sort-up.gif) no-repeat;}
.user-content{padding:0 10px 10px 10px;font-size:14px;border:1px solid #ddd;border-right:0;border-bottom:0}
.title{color:#378fc7;border-bottom:1px solid #378fc7;font-weight:400;font-size:14px;padding-bottom:5px;margin-top:15px;}
.content-wapper{padding:10px 20px 10px 20px;color:#727171;}
.span-split{width:175px;display:inline-block}
.span-split-long{width:215px;display:inline-block}
.form-txt{}
.form-txt span.xing{color:#ff4444;font-weight:bold;}
.form-txt input{width:220px;height:30px;border:1px solid #dcdddd;margin-right:30px;padding-left:5px;}
.form-txt input.shot{width:100px;}
.form-txt a.link{color:#ffa15a}
.form-txt .tdu{text-decoration:underline;}
.form-txt textarea{width:300px;height:70px;border:1px solid #dcdddd;outline:none;resize:none;}
.mr30{margin-right:30px;}
.w150{width:150px;}
.btn-danger{display:inline-block;}
.sure{background:#fff;color:#ff8931;}
.oksure,.btn-danger.disabled,.btn-danger[disabled]{color:#fff!important;background-color:#ffb781!important;border-color:#ffb781!important;}
.block{display:block!important;}
.input{font-weight:normal;}
.input input{margin-right:5px;margin-left:5px;}
span.edit{width:17px;height:17px;background:url(images/item/edit.png) no-repeat;display:inline-block;margin:3px 2px 0 0;cursor:text;position:absolute;right:4px;top:1px;}
.edit-wp{display:inline-block;position:absolute;margin-left:10px;}
.edit-wp input{width:130px;height:30px;border:1px solid #dcdddd;outline:none;padding-left:5px;}
.prefix{width:90px;display:inline-block;text-align:right;}
.menu-select{color:#ff8931;}
.btn-danger:hover{color:#fff;background-color:#ffb781;border-color:#ffb781;}
.user-pic{right:10px;top:-28px;}
.user-pic p{margin-top:10px;}
.btn-group > .btn:first-child{margin-left:0;}
.pdi-drop .dropdown-toggle{width:300px;position:relative;text-align:left;}
.pdi-drop .caret{position:absolute;right:10px;top:12px;}
.pdi-drop .dropdown-select .area-tab{width:300px;margin-top:-5px;}
.pdi-drop .dropdown-select .area-tab span{width:49.66%;display:inline-block;cursor:default;border:1px solid #d1dddd;border-top:0;border-right:0;text-align:center;padding:5px 0;background:#f2f2f2;}
.pdi-drop .dropdown-select .area-tab span.cur-tab{background:#fff;border:0px;color:#ff994c;}
.pdi-drop .dropdown-select .dl{list-style-type:none;z-index:99;}
.pdi-drop .dropdown-select .dl dd{display:inline-block;float:left;text-align:center;width:72px;height:25px;line-height:25px;cursor:default;}
.inputerror{color:#ff8931;}
.txt{width:190px;display:inline-block;}
.ib{display:inline-block;}
.title-right{top:0px;right:0px;}
.tbl{width:100%;}
.tbl th,.tbl td{text-align:center;padding:5px;}
.tbl th{background:#dcdddd;border-right:1px solid #fff;}
.tbl td{border:1px solid #dcdddd;font-size:12px;}
.p{margin:0;}
.tag{background:url(images/custom/sj.png) no-repeat right 4px;display:inline-block;width:20px;text-align:center;cursor:pointer;height:30px;}
.tbl-control{padding:3px 10px;font-size:12px;}
.tm{background:#fff;width:410px;display:block;line-height:22px;text-align:left;border:1px solid #ccc;padding-left:5px;z-index:99;}
.tm span{width:100%;display:block;}
.pwd-strong span{display:inline-block;background:#dcdddd;text-align:center;padding:2px 10px;margin-right:5px;color:#fff;font-size:14px;}
.pwd-strong span.pwdcur{background:#FF9A55;}
.valite-none{width:19px;height:15px;display:inline-block;background:url(../themes/images/user/valite-none.gif) no-repeat;}
.valite-ok{width:19px;height:15px;display:inline-block;background:url(../themes/images/user/valite-ok.gif) no-repeat;}
.valite-ok-2{width:39px;height:24px;display:inline-block;background:url(../themes/images/user/control-ss.gif) no-repeat;}
.valite-dl{margin-top:10px;}
.valite-dl dt{font-weight:normal;display:inline-block;width:600px;float:left;padding:5px 0;}
.valite-dl dt label{margin-left:10px;margin-right:10px;}
.valite-dl dd{display:inline-block;width:70px;text-align:center;float:left;padding:5px 0;}
.valite-dl dd.mulite{height:40px;}
.hd{width:100%;margin:0 auto;}
.hd ul{list-style-type:none;padding-top:30px;}
.hd ul li{display:inline-block;float:left;width:33%;height:33px;text-align:center;color:#333333;border-bottom:2px solid #b7b7b7;line-height:33px;font-size:12px;padding-bottom:40px;}
.hd ul li span{display:inline-block;width:16px;height:16px;line-height:16px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;background:#707070;color:#fff;text-align:center;margin:0 5px;}
.hd ul li label{font-weight:normal;font-size:14px;}
.hd ul li.cur{border-color:#f8700b;}
.hd ul li.cur span{background: #f8700b;}
.code{width:150px!important;display:inline-block;margin-top:-5px;}
.email-input{width:250px!important;}
.btn-code{padding:4px 12px!important;width:100px!important;margin-top:-3px;color:#727171;background:#fff;border-color:#dcdddd;}
.btn-disabled{background:#dcdddd;color:#bababa;}
.valite-code{margin-left:5px;vertical-align:middle;margin-top:-5px;}
.wauto{width:auto!important;}
.pay-s{height:50px;background:url(images/common/reg-s-n.gif) no-repeat 0 50%;line-height:50px!important;width:40%;margin:0 auto!important;color:#FF8931!important;font-size:18px!important;}
.pay-error{background:url(images/pay/pay-error.gif) no-repeat 0 50%;}
.form-pwd{width:60%;margin:0 auto;}
.pwdtxt{width:350px;height:30px;border:1px solid #dcdddd;padding-left:5px;}
.pwd-modify-wapper{margin:10px 0 10px 68px;}
.ml68{margin-left:68px;}
.inputcomplate{width:249px;height:38px;border:1px solid #9fa0a0;background:#dcdddd;color:#727171;left:74px;line-height:38px;padding-left:5px;}
.complatetxt{width:249px!important;height:30px!important;}
.fs12{font-size:12px!important;}
.card-wapper{margin:20px 0;}
.card-wapper dd{display:inline-block;margin-right:40px;position:relative;}
.card-wapper dd span{position:absolute;}
.edit-long{width:249px;}
.edit-long input{width:249px;}
.ml75{margin-left:75px;}
.ml380{margin-left:380px;}
.viewimg{position:fixed;left:0;top:0;  /* background: rgba(0,0,0,0.8); */text-align:center;z-index:99999;width:100%;height:100%;padding-top:23%;display:none;}
.view-wapper{margin:0 auto;width:350px;}
.closeimg{position:absolute;right:-14px;top:2px;display:block;width:25px;height:25px;background:url(../themes/images/user/img-close.gif)}
.ifl{display:inline;float:left;}
.empty-car{line-height:59px;height:59px;width:100%;display:block;background:url(../themes/images/user/empty-car.gif) no-repeat  0 50%;text-align:left;padding-left:80px;margin-bottom:30px;}
.order-content{border-bottom:1px solid #dcdddd;margin:0 auto;width:95%;margin-top:20px;}
.order-content span{font-size:16px;width:150px;height:40px;line-height:40px;color:#fff;background:#ff8931;text-align:center;display:inline-block;}
.order-select{width:140px!important;}
.w140{width:140px!important;min-width:140px!important;}
.w140 dd{display:block!important;width:100%!important;}
.select-order-time{color:#ff8931!important;}
.order-wapper{margin:20px;color:#727171;}
.split{position:absolute;height:28px;border-left:1px solid #ccc;top:0px;right:27px;}
.pageinfo{margin:20px auto;width:100%;text-align:center;color:#b2b3b3!important;}
.pageinfo *{float:left;margin-right:5px;margin-bottom:0;}
.pageinfo span,.pageinfo a{display:inline-block;padding:3px 10px;text-align:center;border:1px solid #afb0b0;cursor:default;color:#b2b3b3!important;}
.pageinfo span.empty{border:0px;}
.pageinfo label{font-weight:normal;margin-top:5px;}
.pageinfo label,.pageinfo span{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.pageinfo .num{width:18px;height:18px;line-height:18px;border:1px solid #eceded;margin-top:7px;text-align:center;}
.pageinfo .go{width:35px;height:23px;border:1px solid #eceded;background:#efefef;margin-top:5px;}
.pageinfo a:hover{text-decoration:none;}
.yue-content{margin:20px 0;padding:0 10px;color:#727171;}
.bt{width:80px}
.sbt{width:70px!important}
.control-yue{position:absolute;right:10px;text-align:right;position:absolute;top:0px;}
.yue-content p{color:#727171;}
.yue-content p.gray{color:#9fa0a0;}
.rili{background:url(images/item/rili.gif) no-repeat 50% 50%;width:18px;height:18px;position:absolute;right:6px;top:6px;cursor:pointer}
.form-group{display:inline-block;}
.detial{margin-top:0;}
.time-tag span{background:url(images/user/new-tag.gif) no-repeat 50% 50%;width:30px;height:29px;position:absolute;left:-16px;top:-4px;}
.tbl-time{}
.tbl-time td{height:40px;}
.order-sing-detail{display:block;list-style:none;margin:0;padding:0;height:25px;}
.order-sing-detail li{display:inline-block;float:left;width:33%;}
.txt-length{width:100px;text-align:right;}
.fp dd{display:block!important;float:none!important;width:100%!important;}
.fptype{width:120px;height:30px;line-height:30px;text-align:center;background:#fff;border:1px solid #dcdddd;color:#727171;display:inline-block;position:relative;padding:0 5px;}
.fptype-cur{border:1px solid #ff8931;}
.add-wrapper{display:none;}
.fptype-cur i{display:inline-block;width:15px;height:15px;background:url(images/item/min-select.png);position:absolute;bottom:0;right:0;}
.ml100{margin-left:105px;}
.billing-wapper{padding-left:0;padding-right:0;}
.txt-length-long{width:120px;}
.beian{position:absolute;right:0px;top:10px;}
.radio{width:auto!important;height:auto!important;display:inline-block!important;margin-right:5px!important;}
.form-txt span{font-weight:normal;}
.m0{margin:0!important;}
.ml20-2{margin:0 0 0 20px!important;}
.city-select{display:block;position:absolute;left:224px;top:50px;width:280px;}
.city-select dd{display:inline-block;margin:2px;border:1px solid #dcdddd;padding:3px 10px;position:relative;}
.city-select dd span{cursor:default;}
.city-select dd i{display:inline-block;width:15px;height:15px;position:absolute;bottom:0;right:0;}
.city-select dd i.select-city-cur{background:url(images/item/min-select.png);}
.address-area{top:115px;left:155px;width:350px;}
.box-content{padding:0 10px 10px 10px;font-size:14px;border:1px solid #ddd;border-top:1px solid #ddd!important;}
.tab{border-radius:5px 5px 0 0;background:#ff8931;text-align:center;color:#fff;width:150px;height:42px;display:inline-block;line-height:42px;cursor:default;font-size:16px;}
.tab-empty{background:#fff!important;border:1px solid #dcdddd;border-bottom:0;color:#7b7a7a;}
.average{margin-left:40px;}
.price-ul li{width:30%;display:block;float:left;text-align:left;}
.average li{width:33%;text-align:center;}
.average span{width:15px;height:15px;display:inline-block;background:url(../themes/images/pay/F.C_13.gif) no-repeat;margin-right:20px;}
.average span.selectpay{background:url(../themes/images/pay/F.C_10.gif) no-repeat;}
.pay-box{padding:25px 30px;border-top:1px solid #ddd;}
.pay-box p{margin:0;}
.pay-box p.pwx{color:#acadad;}
.pay-box p.pnobuy2{color:#acadad;}
.pay-box p.pnobuy{margin-left:70px;}
.pay-control{width:300px!important;display:inline-block;}
.pdi-control span.pay-edit{right:281px;top:12px;}

/* .pay-s{
    height: 50px;
    background: url(images/common/reg-s-n.gif) no-repeat 0 50%;
    line-height: 50px!important;
    width:33%;
    margin:0 auto!important;
    color: #FF8931!important;
    font-size: 18px!important;
    font-weight: bold!important;
} */
.pay-error{background:url(images/pay/pay-error.gif) no-repeat 0 50%;}
.pay-form{margin:0 auto;width:41%;}
.price-ul{list-style-type:none;width:100%!important;display:block;padding:0;margin:0;font-size:14px;}
.content .btn-danger{display:inline-block;width:150px;}
.content .wapper h2{font-size:16px;font-weight:500;margin:0;padding:0;line-height:24px;color:#8e8d8d;padding:10px 0 5px 0;}
.pay-control{width:300px!important;display:inline-block;}
.pdi-control span.pay-edit-2{right:281px;top:5px;}
.content .bt{width:90px;margin:0px 5px 0 5px;}
.ul-prev-big{background:url(images/user/ul-prev-big.gif) 0px 2px no-repeat;font-size:16px;padding-left:20px;font-weight:bold;margin-left:10px;}
.ul-prev-small{background:url(images/user/ul-prev-small.gif) 0px 5px no-repeat;font-size:14px;padding:0px 0 10px 15px;line-height:22px;}
.ml30{margin-left:30px!important;}
.w125{width:200px!important;display:inline-block;}
.upload-pz-wapper{position:absolute;right:260px;top:10px;width:260px;}
.pz-edit{left:190px;top:15px!important;}
.loading6{position:absolute;text-align:center;margin:0 auto;width:100%;display:none;top:0px;height:136px;}
.l6{margin-left:-145px;margin-top:46px;}
.m-t-10{margin-top:10px;padding-top:10px;}
.loading6 .loadings{width:48px;height:48px;display:inline-block;background:url(../themes/images/item/loading6.gif) 50% 50% no-repeat;z-index:999;}
.mlt{margin:-20px 0 0 -20px!important;}
.title-color{color:#378fc7!important;}
.tbl2{width:100%;}
.tbl2 td,.tbl2 th{border:1px solid #dcdddd;padding:10px 5px;text-align:center;}
.tbl2 td{font-size:14px;}
.tbl2 th{font-size:16px;}
.p15{padding:15px;}
.lab{width:70px;display:inline-block;text-align:right;}
.ccolor{color:#8e8d8d;}
.pay-s-2{width:30%}
.centerwidth{width:500px;margin:10px auto;}
.popupbox{width:400px;overflow:visible;display:none;}
.popupbox .popup-title{height:38px;background:#ff8931;border:1px solid #9fa0a0;line-height:38px;color:#fff;padding-left:30px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;position:relative;}
.popupbox .popup-title .min{position:absolute;right:10px;top:-5px;font-size:47px;}
.popupbox .popup-wrapper{padding:10px;border:1px solid #9fa0a0;border-top:0;background:#fff;}
.popupbox .popup-content{}
.popupbox .popup-content .pd{padding:20px 10px;}
.popupbox .popup-control{text-align:center;}
.xztip{width:143px;height:66px;position:relative;display:none;}
.xztip-wrapper{background:url(images/item/xztip.png);height:66px;padding:11px 5px;line-height:17px;position:absolute;width:143px;left:-65px;top:2px;}
.xztip-wrapper p{font-size:12px;}
.preverror{background:#ff4444;color:#fff!important;}
.countinputrror{color:#ff4444;}
.fs18{font-size:18px!important;}
.dinggou-fix{position:fixed;bottom:100px;right:15px;width:128px;height:58px;border:1px solid #dcdddd;background:#eeeeee;color:#7a7979;text-align:center;font-size:14px;z-index:99999;display:none;}
.dinggou-fix span{margin-top:3px;display:block;}
.btn-recover{width:60px!important;margin-top:0px!important;padding:3px 12px;}
.popup-content-large{height:350px;overflow:scroll;overflow-x:hidden;padding:0 15px;}
.popup-content-large td p{margin:0;}
.popup-content-large th label{font-weight:bold;}
.tblue th{background:#e1f4ff;}
.bg-title{height:48px;background:#fff8f3;border-top:1px solid #dcdddd;border-bottom:1px solid #dcdddd;line-height:50px;margin-bottom:20px;margin-left:-20px;margin-right:-20px;}
.blue{color:#378fc7!important;}
.btn-select-method{width:150px;}
.btn-select-method .dropdown-label{width:95%;display:inline-block;text-align:left;}
.btn-select-method .caret{}
.dropdown-method{min-width:150px;}
.span-w100{width:100px;display:inline-block;text-align:right;}
.noborder{border:0!important;color: #727171;}
.none{display:none}
.tbl-auto{width:auto!important;}