<!DOCTYPE html>
<html>
<head>
    <title>OK.D.3售方提议订单修改待确认 - 华车网</title> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="华车网" />
    <meta name="keywords" content="华车网" />
    <meta name="author" content="llm" />
    <link href="../common/css/bootstrap.css" rel="stylesheet" />
    <link href="../common/css/common.css" rel="stylesheet" />
    <link href="themes/item-fix.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="./js/vendor/DatePicker/WdatePicker.js"></script>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ms-controller="web">

    <div class="head-wrapper">
        <div class="head-container">
            <div class="head-logo-wrapper">
                <a class="logo" href="/">华车网</a>
            </div>
            <ul class="head-nav-wrapper">
                <li><a href="#baozhang">诚信保障</a></li>
                <li><a href="#services">帮助中心</a></li>
            </ul>
            <ul class="head-login-wrapper">
                <li class="loginout">
                    <label>欢迎您，<a href="/user/" class="juhuang">客官8792</a><a href="/user/" class="hc-status inline-block">我的华车</a> </label>
                    <a @click="loginOutConfirm" href="javascript:;" class="hc-status-loginout">下车<em>(退出)</em></a>  
                    <div v-cloak v-show="isShowLoginOut" class="login-out-comfirm">
                        <p>退出登陆状态将重新回到<br>华车首页，是否继续？</p>
                        <div class="confirm">
                            <a @click="sureLoginOut" href="javascript:;">确认退出</a> 
                            <a @click="canceLoginOut" href="javascript:;" class="cancel">取消</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

    <div class="container m-t-86 pos-rlt">
        <div class="step psr">
            <ul>
                <li class="first">诚意预约<i></i></li>
                <li class="step-cur">付担保金<i></i></li>
                <li>预约交车<i></i></li>
                <li>付款提车<i></i></li>
                <li>退担保金<i></i></li>
                <li>完成评价<i></i></li>
                <div class="clear"></div>
            </ul>
            <div class="min-step">
                <div class="m-content m-left-187">
                    <small>等待支付</small>
                    <i></i>
                    <small class="juhuang">等待预约</small>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pos-rlt content r-pdi">

        <div class="wapper has-min-step">
            <h1>尊敬的客户：</h1>
            <h1 class="ti psr">十分抱歉，售方因遇到不可抗力（原因见下方说明）已向华车申请延后发出交车邀请，敬请谅解！<img class="adv-img" src="themes/images/adv.png" alt=""></h1>
            <div class="clear m-t-10"></div>
            <table class="nobordertbl wp100">
                <tr>
                    <td width="50%" class="fs14 weight">订单号：</td>
                    <td width="50%" class="fs14">
                        <span class="weight">订单时间：</span>2015年10月28日
                    </td>
                </tr>
            </table>
            <div class="clear m-t-10"></div>
           
            <ul class="pdi-order-ul border ">
               <p class="fs14 ml10">
                   <span>路虎</span>
                   <span class="ml5">&gt;</span>
                   <span class="ml5">新一代揽胜</span>
                   <span class="ml5">&gt;</span> 
                   <span class="ml5">2015款SDV6 Hybrid Vogue SE 混合动力创世加长版</span>
                   <span class="ml30">月光石白色（个性金属漆）</span> 
               </p>
            </ul>
            <div class="clear m-t-10"></div>
            <p class="tac"><a href="#" class="tdu juhuang">查看订单总详情</a></p>
            <div class="clear m-t-10"></div>

            <p class="fs14">提议修改的内容如下：</p>
            <table class="tbl fl" style="width: 80%;">
                <tr>
                    <th>
                        <p class="fs14">项目</p>
                    </th>
                    <th>
                        <p class="fs14">订单约定条件</p>
                    </th>
                    <th>
                        <p class="fs14">经销商提议修改为</p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <p class="tac fs14">行驶里程</p>
                    </td>
                    <td>
                        <p class="tac fs14">（不高于）20公里</p>
                    </td>
                    <td>
                        <p class="tac fs14">（不高于）25公里</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="tac fs14">铝合金轮圈</p>
                        <p class="tac fs14">（已装原厂选装精品）</p>
                    </td>
                    <td>
                        <p class="tac fs14">数量2</p>
                    </td>
                    <td>
                        <p class="tac fs14">数量1</p>
                    </td>
                </tr>
                <tr>
                    <td>

                        <p class="tac fs14">挡泥板</p>
                        <p class="tac fs14">（免费礼品和服务）</p>
                    </td>
                    <td>
                        <p class="tac fs14">数量4</p>
                    </td>
                    <td>
                        <p class="tac fs14">数量0</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="tac fs14">交车时限</p>
                    </td>
                    <td>
                        <p class="tac fs14">2017年3月6日</p>
                    </td>
                    <td>
                        <p class="tac fs14">2017年3月10日</p>
                    </td>
                </tr>
            </table>

            <hr class="dashed">
            <div class="clear"></div>
            <hr class="dashed">
            <p class="fs14">根据华车平台规则，在您全额支付买车担保金后售方提出修改订单，您已自动获得下列补偿（在您账户的可用余额里了）：</p>
            <p class="fs14">1.获得歉意金补偿：人民币499.00元；</p>
            <p class="fs14">2.获得买车担保金利息补偿：人民币12.00元；<br>（2016-02-23～2016-02-25，3天，20000x3x0.02%=12.00）</p>

            <p class="fs14 weight mt20">请您选择：</p>
            <form action="/order/orderStatus" method="post" name="order-status-form">
                <div class="wait-order-status">
                    <table class="tbl2">
                      <tr>
                        <td valign="top" width="20" class="nopadding">
                            <input v-model="continueOrder" value="true" type="radio" class="jiaocheinput" name="jiaoche" id="">
                        </td>
                        <td valign="top" class="nopadding" width="80"><p class="fs14"><b>继续订单</b></p></td>
                        <td valign="top" class="nopadding"><p class="fs14"> 您同意上述修改条件，继续执行订单。</p></td>
                      </tr>
                      <tr>
                        <td valign="top" width="20" class="nopadding">
                            <input v-model="continueOrder" value="false" type="radio" class="jiaocheinput" name="jiaoche" id="">
                        </td>
                        <td valign="top" class="nopadding" width="80"><p class="fs14"><b>放弃订单 </b></p></td>
                        <td valign="top" class="nopadding"><p class="fs14">不接受上述修改，很遗憾您将放弃本订单，但您的买车担保金人民币20,000.00元将毫发无损退回您的可用余额中，您下回购车使用（不买车可在【我的华车】中办理全额提现。）</p></td>
                      </tr>
                      
                    </table>
                    <p><b>温馨提示：</b>如您在售方交车邀请发出时限前仍未回复，将默认放弃订单操作。</p>
                    <p class="tac red hide" id="showhide">请选择是否继续订单！</p>

                    <p class="center mt50">
                        <a @click="send" href="javascript:;" class="btn btn-s-md btn-danger fs16">提交</a>
                    </p>

                    <div id="stopWin" class="popupbox">
                        <div class="popup-title">温馨提示</div>
                        <div class="popup-wrapper">
                            <div class="popup-content">
                                <div class="m-t-10"></div>
                                <p class="fs14 pd tac succeed  constraint">
                                   <span class="tip-tag bp0"></span>
                                   <span class="tip-text mt10">确定放弃订单吗？</span>
                                   <div class="clear"></div>
                                   <br>
                                </p>
                                <div class="m-t-10"></div>
                            </div> 
                            <div class="popup-control">
                                <a href="javascript:;" @click="stopOrder" class="btn btn-s-md btn-danger fs14 do w100 ">确认</a>
                                <a href="javascript:;" class="btn btn-s-md btn-danger fs14 sure w100 ml20 inline-block ">返回</a>
                                <div class="clear"></div>
                            </div> 
                        </div>
                    </div>

                    <div id="sendWin" class="popupbox">
                        <div class="popup-title">温馨提示</div>
                        <div class="popup-wrapper">
                            <div class="popup-content">
                                <div class="m-t-10"></div>
                                <p class="fs14 pd tac">
                                   <br> 
                                   <span class="tip-text fs14 text-left inline-block">确定同意接受修改条件并继续订单吗？</span>
                                   <div class="clear"></div>
                                   <br>
                                </p>
                                <div class="m-t-10"></div>
                            </div> 
                            <div class="popup-control">
                                <a href="javascript:;" @click="doSend" class="btn btn-s-md btn-danger fs14 do w100 ">确认</a>
                                <a href="javascript:;" class="btn btn-s-md btn-danger fs14 sure w100 ml20 inline-block ">返回</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

  
            <div class="m-t-10"></div>
            <div class="m-t-10"></div>
            <div class="m-t-10"></div>

  
        </div>
    </div>

    <footer class="footer">
        <div class="footer-menu container">
            <ul>
                <li>
                    <h3>用户指南</h3>
                    <a href="#">买车流程</a>
                    <a href="#">诚信保障</a>
                    <a href="#">注意事项</a>
                </li>
                <li>
                    <h3>服务中心</h3>
                    <a href="#">服务协议</a>
                    <a href="#">平台规则</a>
                    <a href="#">常见问题</a>
                </li>
                <li>
                    <h3>关于我们</h3>
                    <a href="#">平台简介</a>
                    <a href="#">联系方式</a>
                    <a href="#">发现职位</a>
                </li>
                <li>
                    <h3>商务合作</h3>
                    <a href="#">加盟方入口</a>
                    <a href="#">媒体合作</a>
                    <a href="#">友情链接</a>
                </li>
                <li>
                    <div class="qrcode"><p>加微信关注我们</p></div>
                </li>
            </ul>
        </div>
        <div class="sp"></div>
        <div class="container pos-rlt foot-info">
            <p>@CopyRight 2014- 2015, 苏州华车网络科技有限公司   版权所有</p>
            <p> 工业信息化部信息备案：苏ICP备14017673号-1 </p>
        </div>
    </footer>

    
    <script src="./js/sea.js"></script>
    <script src="./js/config.js"></script>
    <script type="text/javascript">
        
        seajs.use(["../common/js/vendor/vue.min","module/order/order-wait-subscribe", "module/common/common"],function(v,u,c){

        });
    </script>

</body>
</html>
