<!DOCTYPE html>
<html>
<head>
    <title>K.1.2个人资料 - 华车网</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="华车网" />
    <meta name="keywords" content="华车网" />
    <meta name="author" content="llm" />
    <link href="themes/bootstrap.css" rel="stylesheet" />
    <link href="../common/css/common.css" rel="stylesheet" />
    <link href="themes/user.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="head-wrapper">
        <div class="head-container">
            <div class="head-logo-wrapper">
                <a class="logo" href="/">华车网</a>
            </div>
            <ul class="head-nav-wrapper">
                <li><a href="#baozhang">诚信保障</a></li>
                <li><a href="#services">帮助中心</a></li>
            </ul>
            <ul class="head-login-wrapper">
                <li class="loginout">
                    <label>欢迎您，<a href="/user/" class="juhuang">客官8792</a><a href="/user/" class="hc-status inline-block">我的华车</a> </label>
                    <a @click="loginOutConfirm" href="javascript:;" class="hc-status-loginout">下车<em>(退出)</em></a>  
                    <div v-cloak v-show="isShowLoginOut" class="login-out-comfirm">
                        <p>退出登陆状态将重新回到<br>华车首页，是否继续？</p>
                        <div class="confirm">
                            <a @click="sureLoginOut" href="javascript:;">确认退出</a> 
                            <a @click="canceLoginOut" href="javascript:;" class="cancel">取消</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
   
    <div class="container m-t-86 pos-rlt content">
        <div class="wapper has-min-step">
            <div class="box box-border">
                <div class="slide">
                     <div class="portlet-body">
                        <div class="panel-group accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle"  href="javascript:;">我的华车 </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse ">
                                    <div class="panel-body">
                                        <a href="#">个人资料</a>
                                        <a href="#">安全设置</a>
                                        <a href="#">银行账户管理</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:;"> 我的订单  </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body" >
                                        <a href="#">我的订单</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:;"> 我的财务  </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body" >
                                        <a href="#">我的财务</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default last">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:;"> 我的文件  </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse ">
                                    <div class="panel-body" >
                                        <a href="#">我的文件</a>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="user-content">
                    <h2 class="blue-title pb0">个人信息</h2>
                    <div class="content-wapper">
                        <br>
                        <p><b>我的姓名：</b><span class="ml20">从此账户只为您服务，服务您一生一世！ ></span>     <span class="ml50 juhuang">去实名认证</span></p>
                        <p><b>我的姓名：</b><span class="ml20">许琴恋</span>     <span class="ml50">已实名认证，不可修改</span></p>
                        <p><b>我的姓名：</b><span class="ml20">许琴恋</span>     <span class="ml50">实名认证审核中</span><span class="ml20 juhuang">查看</span></p>
                        <p><b>我的姓名：</b><span class="ml20">许琴恋</span>     <span class="ml50">实名认证未通过   ></span><a class="ml20 juhuang">再次认证</a></p>
                        <p><b>注册手机：</b><span class="ml20">138****4235</span> <span class="ml50">已验证</span>     <span class="ml20 juhuang">修改</span></p>
                        <p><b>绑定邮箱：</b><span class="ml20">万一手机出状况，邮箱也可挑大梁。绑定一下，有备无患！  ></span>     <span class="ml50 juhuang">去绑定</span></p>
                        <p><b>绑定邮箱：</b><span class="ml20">r******@163.com</span>     <span class="ml50">已绑定，可用于登录</span><span class="ml20 juhuang">修改</span></p>
                    </div>
                    <br><br>
                    <h2 class="blue-title pb0">补充信息</h2>
                    <div class="content-wapper psr">
                        <br>
                        <p v-cloak v-show="!isSetNick"><b>喜欢别人对我称呼：</b><span class="ml20">听到熟悉的称呼，距离不是问题了 ></span><a @click="setNick" href="javascript:;"class="ml50 juhuang">我要设置</a></p>
                        <p v-cloak v-show="isSetNick"><b>喜欢别人对我称呼：</b><span class="ml20">{{nickName}}</span><a @click="setNick" href="javascript:;"class="ml50 juhuang">修改</a></p>
                        <p v-cloak v-show="!isSetAddress"><b>我的地址：</b><span class="ml20">以后可能会收到惊喜哦～ ></span><a @click="setAddress" href="javascript:;"class="ml50 juhuang">我要设置</a></p>
                        <p v-cloak v-show="isSetAddress">
                            <b class="inline-block fl">我的地址：</b>
                            <span class="inline-block ml20 fl">
                                <span class="">{{province}}{{city}}</span><br>
                                <span class="">{{address}}</span><br>
                                <a @click="setAddress" href="javascript:;"class="juhuang">修改</a>
                            </span>

                        </p>
                        <div class="clear"></div>
                        <p><b>我的银行账户：</b><span class="ml20">实名认证身份后，方可绑定本人卡。 > </span><a @click="authentication" href="javascript:;" class="ml20 juhuang">去绑定</a></p>
                        <p><b>我的银行账户：</b><span class="ml20">3226******8560 </span><span class="ml20">认证审核中</span><a href="javascript:;"class="ml20 juhuang">查看</a></p>
                        <p><b>我的银行账户：</b><span class="ml20">3226******8560 </span><span class="ml20">审核未通过</span><a href="javascript:;"class="ml20 juhuang">重新绑定</a></p>
                        <p><b>我的银行账户：</b><span class="ml20">3226******8560 </span><span class="ml20">已成功绑定，可用于提现</span><a href="javascript:;"class="ml20 juhuang">查看</a><a href="javascript:;"class="ml20 juhuang">更换</a></p>
                        <p><b>我的银行账户：</b><span class="ml20">3226******8560 </span><span class="ml20">已成功绑定，可用于提现</span><a href="javascript:;"class="ml20 juhuang">查看</a><a href="javascript:;"class="ml20 juhuang">更换审核中</a></p>
                        <p><b>我的银行账户：</b><span class="ml20">3226******8560 </span><span class="ml20">已成功绑定，可用于提现</span><a href="javascript:;"class="ml20 juhuang">查看</a><a href="javascript:;"class="ml20 juhuang">更换未成功</a></p>
                        <div class="user-head-wrapper">
                            <form name="user-img-form" action="/user/userimg/" method="post">
                                <input type="hidden" name="_token" value="">
                                <div v-cloak v-show="!isClickUpload" class="user-no-upload">
                                    <p><b>我的头像</b></p>
                                    <p class="ml20">V</p>
                                    <p><a @click="showUpload" href="javascript:;" class="juhuang">我来作主</a></p>
                                </div>
                                <div v-cloak v-show="isClickUpload" class="upload-wrapper">
                                    <div class="img-wrapper">
                                        <img width="200" height="200" id="upload-img" src="./themes/images/user-upload-def.png" data-src="./themes/images/user-upload-def.png" alt="">
                                        <input @change="previewFile" type="file" name="upload-file" id="upload-file" class="hide">
                                        <p v-cloak v-show="!isSelectFile" class="upload-point" @click="upload">点击上传头像</p>
                                    </div>
                                    <p class="text-center mt10" v-cloak v-show="isSelectFile && !isUpload" >
                                        <a @click="uploadFile" href="javascript:;" class="btn btn-s-md btn-danger btn-auto">保存</a>
                                        <a @click="canceUploadFile" href="javascript:;" class="btn btn-s-md btn-danger btn-auto sure ml20">取消</a>
                                    </p>
                                    <p v-cloak v-show="!isSelectFile" class="fs12 mt5">仅支持JPG、GIF、PNG、JPEG、BMP格式，文件小于5M</p>
                                    <a v-cloak v-show="isUpload" class="fs12 mt5 juhuang" @click="uploadAgain" href="javascript:;">更换</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br><br><br><br><br><br><br><br>

                    <div id="setNick" class="popupbox">
                        <div class="popup-title">设置称呼</div>
                        <div class="popup-wrapper">
                            <div class="popup-content">
                                <div class="m-t-10"></div>
                                <p class="nick-title ml20">请选择您喜欢别人对您的称呼：</p>
                                <p class="fs14  tal">
                                    <table class="tbl-nick"> 
                                       <tr>
                                           <td width="25%"><input v-model="nickNameTmp" type="radio" name="nick" value="先生"><span class="ml5">先生</span></td>
                                           <td width="25%"><input v-model="nickNameTmp" type="radio" name="nick" value="女士"><span class="ml5">女士</span></td>
                                           <td width="25%"><input v-model="nickNameTmp" type="radio" name="nick" value="老师"><span class="ml5">老师</span></td>
                                           <td width="25%"><input v-model="nickNameTmp" type="radio" name="nick" value="小姐"><span class="ml5">小姐</span></td>
                                       </tr>
                                       <tr>
                                           <td><input v-model="nickNameTmp" type="radio" name="nick" value="~ 总"><span class="ml5">~ 总</span></td>
                                           <td><input v-model="nickNameTmp" type="radio" name="nick" value="老板"><span class="ml5">老板</span></td>
                                           <td><input v-model="nickNameTmp" type="radio" name="nick" value="经理"><span class="ml5">经理</span></td>
                                           <td><input v-model="nickNameTmp" type="radio" name="nick" value="师傅"><span class="ml5">师傅</span></td>
                                       </tr>
                                    </table> 
                                   <div class="clear"></div>
                                   <br>
                                </p>
                                <div class="m-t-10"></div>
                            </div> 
                            <div class="popup-control">
                                <a href="javascript:;" @click="doSetNick" class="btn btn-s-md btn-danger fs14 do w100 ">保存</a>
                                <a href="javascript:;" class="btn btn-s-md btn-danger fs14 sure w100 ml20 inline-block ">取消</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>

                    <div id="setAddress" class="popupbox">
                        <div class="popup-title">设置地址</div>
                        <div class="popup-wrapper">
                            <div class="popup-content">
                                <div class="m-t-10"></div>
                                <div class="set-address-wrapper">
                                    <province-city  def-value="--选择地区--" :is-select-province="isSelectProvince" v-on:receive-params="listenSelect"></province-city>
                                    <textarea v-model="address" @focus="setAddressStatus" class="textarea w300 mt10" placeholder="请输入详细地址"></textarea>
                                    <div :class="{'error-div':isInputAddress,'red':true}">请输入详细地址</div>
                                    <br><br><br>
                                </div>                   
                                <div class="m-t-10"></div>
                                <input type="hidden" name="token" value="">
                            </div> 
                            <div class="popup-control">
                                <a href="javascript:;" @click.stop="doSetAddress" class="btn btn-s-md btn-danger fs14 do w100 ">保存</a>
                                <a href="javascript:;" class="btn btn-s-md btn-danger fs14 sure w100 ml20 inline-block ">取消</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>

                    <div id="authentication" class="popupbox">
                        <div class="popup-title">温馨提示</div>
                        <div class="popup-wrapper">
                            <div class="popup-content">
                                <div class="m-t-10"></div>
                                <div class="set-authentication-wrapper">
                                     <p class="gray">客官，非常抱歉，您的银行账户无法进行绑定，</p>
                                     <p class="gray">因为您的账户还未实名认证哦~</p>
                                    <br>
                                </div>                   
                                <div class="m-t-10"></div>
                                <input type="hidden" name="token" value="">
                            </div> 
                            <div class="popup-control">
                                <a href="javascript:;" @click.stop="doSetAddress" class="btn btn-s-md btn-danger fs14 do btn-auto ">前往实名认证</a>
                                <a href="javascript:;" class="btn btn-s-md btn-danger fs14 sure btn-auto ml20 inline-block ">取消此次绑定</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>

                    
 


                </div>
                <div class="clear"></div>
            </div>
        </div>

        

    </div>

    <footer class="footer">
        <div class="footer-menu container">
            <ul>
                <li>
                    <h3>用户指南</h3>
                    <a href="#">买车流程</a>
                    <a href="#">诚信保障</a>
                    <a href="#">注意事项</a>
                </li>
                <li>
                    <h3>服务中心</h3>
                    <a href="#">服务协议</a>
                    <a href="#">平台规则</a>
                    <a href="#">常见问题</a>
                </li>
                <li>
                    <h3>关于我们</h3>
                    <a href="#">平台简介</a>
                    <a href="#">联系方式</a>
                    <a href="#">发现职位</a>
                </li>
                <li>
                    <h3>商务合作</h3>
                    <a href="#">加盟方入口</a>
                    <a href="#">媒体合作</a>
                    <a href="#">友情链接</a>
                </li>
                <li>
                    <div class="qrcode"><p>加微信关注我们</p></div>
                </li>
            </ul>
        </div>
        <div class="sp"></div>
        <div class="container pos-rlt foot-info">
            <p>@CopyRight 2014- 2015, 苏州华车网络科技有限公司   版权所有</p>
            <p> 工业信息化部信息备案：苏ICP备14017673号-1 </p>
        </div>
    </footer>

    <script src="./js/sea.js"></script>
    <script src="./js/config.js"></script>
    <script type="text/javascript">
        seajs.use(["../common/js/vendor/vue.min","module/user/user-self", "module/common/common"],function(v,u,c){
             //称呼和地址如果已经存在值取消下面两行的注释
             u.initNick('美女')
             u.initAddress('江苏省','苏州市','姑苏区广济南路222号1号楼508室')
             u.initUserImg('./themes/images/empty-car.png')

        })
    </script>

</body>
</html>


