<!DOCTYPE html>
<html>
<head>
    <title>k.2.6我的转入 - 华车网</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="华车网" />
    <meta name="keywords" content="华车网" />
    <meta name="author" content="llm" />
    <link href="themes/bootstrap.css" rel="stylesheet" />
    <link href="../common/css/common.css" rel="stylesheet" />
    <link href="themes/user.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="head-wrapper">
        <div class="head-container">
            <div class="head-logo-wrapper">
                <a class="logo" href="/">华车网</a>
            </div>
            <ul class="head-nav-wrapper">
                <li><a href="#baozhang">诚信保障</a></li>
                <li><a href="#services">帮助中心</a></li>
            </ul>
            <ul class="head-login-wrapper">
                <li class="loginout">
                    <label>欢迎您，<a href="/user/" class="juhuang">客官8792</a><a href="/user/" class="hc-status inline-block">我的华车</a> </label>
                    <a @click="loginOutConfirm" href="javascript:;" class="hc-status-loginout">下车<em>(退出)</em></a>  
                    <div v-cloak v-show="isShowLoginOut" class="login-out-comfirm">
                        <p>退出登陆状态将重新回到<br>华车首页，是否继续？</p>
                        <div class="confirm">
                            <a @click="sureLoginOut" href="javascript:;">确认退出</a> 
                            <a @click="canceLoginOut" href="javascript:;" class="cancel">取消</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
   
    <div class="container m-t-86 pos-rlt content">
        <div class="wapper has-min-step">
            <div class="box box-border noborder">
                <div class="slide slide-fix">
                     <div class="portlet-body">
                        <div class="panel-group accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle"  href="javascript:;">我的华车 </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse ">
                                    <div class="panel-body">
                                        <a href="#">个人资料</a>
                                        <a href="#">安全设置</a>
                                        <a href="#">银行账户管理</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:;"> 我的订单  </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body" >
                                        <a href="#">我的订单</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:;"> 我的财务  </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body" >
                                        <a href="#">我的余额</a>
                                        <a class="menu-select" href="#">我的转入</a>
                                        <a href="#">我的提现</a>
                                        <a href="#">我的福利</a>
                                        <a href="#">我的发票</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default last">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:;"> 我的文件  </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse ">
                                    <div class="panel-body" >
                                        <a href="#">我的提交</a>
                                        <a href="#">我的下载</a>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="user-content user-content-with-margin  psr">
                    
                        <div class="yue-content psr">
                            <p class="pre-fix"><span class="ml10 juhuang weight">转入记录</span></p>
                            <div class="m-t-10"></div>
                            <div class="search-area">
                                <span>提交时间</span>
                                <div class="form-group psr">
                                    <input @focus="selectStartTime" v-model="startTime" :value="startTime" type="text" placeholder="" class="form-control " >
                                    <i class="rili"></i>
                                </div>
                                <span class="ml5">~</span>
                                <div class="form-group psr ml5">
                                    <input @focus="selectEndTime" v-model="endTime" :value="endTime" type="text" placeholder="" class="form-control">
                                    <i class="rili"></i>
                                </div>
                                <span class="ml5">~</span>
                                <span class="ml5">转入方式</span>
                                <drop-down def-value="全部" id="into-way-stauts" name="into-way-stauts" @receive-params="getInfoWayStatus"  :list="intoWayList" class="ml5 nofl" class-name="btn-dropdown-normal"></drop-dwon>

                            </div>
                            <div class="search-area psr">
                                <div class="psa btn-control">
                                    <button class="ml5 btn btn-danger btn-auto">查找</button>
                                    <button class="ml5 btn btn-danger sure btn-auto">重置</button>
                                </div>
                                <span>入账时间</span>
                                <div class="form-group psr">
                                    <input @focus="selectStartTime2" v-model="startTime2" :value="startTime2" type="text" placeholder="" class="form-control " >
                                    <i class="rili"></i>
                                </div>
                                <span class="ml5">~</span>
                                <div class="form-group psr ml5">
                                    <input @focus="selectEndTime2" v-model="endTime2" :value="endTime2" type="text" placeholder="" class="form-control">
                                    <i class="rili"></i>
                                </div>
                                <span class="ml5">~</span>
                                <span class="ml5">入账状态</span>
                                <drop-down def-value="全部" id="billing-stauts" name="billing-stauts" @receive-params="getBillingStatus" :list="billingStateList" class="ml5 nofl" class-name="btn-dropdown-normal"></drop-dwon>

                            </div>
                            
                            <div class="clear"></div>

                        </div>
                        <!--没有记录-->
                        <table class="tbl tbl-time">
                            <tr>
                                <th width="120" class="fs16">提交时间</th>
                                <th width="110" class="fs16">提交金额</th>
                                <th width="249" class="fs16">转入方式</th>
                                <th width="279" class="fs16">转入用途</th>
                                <th width="110" class="fs16">入账金额</th>
                                <th width="120" class="fs16">确认<br>入账时间</th>
                                <th width="110" class="fs16">操作</th>
                            </tr>
                            <tr>
                                <td colspan="7">
                                    <div class="mt20"></div>
                                    <p class="p fs14">客官，暂无符合您查找条件的转入记录~</p>
                                    <div class="mt20"></div>
                                </td>
                            </tr> 
                        </table>
                        <br>

                        <table class="tbl tbl-time">
                            <tr>
                                <th width="120" class="fs16">提交时间</th>
                                <th width="110" class="fs16">提交金额</th>
                                <th width="249" class="fs16">转入方式</th>
                                <th width="279" class="fs16">转入用途</th>
                                <th width="110" class="fs16">入账金额</th>
                                <th width="120" class="fs16">确认<br>入账时间</th>
                                <th width="110" class="fs16">操作</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time-tag psr">
                                        <span class="top16"></span>
                                        <p class="p fs14">2016-02-01 12:23:34</p>
                                    </div>
                                </td>
                                <td>
                                    <p class="p fs14">
                                        {{ formatMoney(100,2,"￥")}}
                                    </p>
                                </td>
                                <td>
                                    <p class="p fs14">线上支付—支付宝123***</p>
                                </td>
                                <td>
                                    <p class="p fs14">支付买车担保金<br>（订单号：23432423424）</p>
                                </td>
                                <td>
                                    <p class="p fs14">{{ formatMoney(100,2,"￥")}}</p>
                                </td>
                                <td>
                                    <p class="p fs14"> 2016-02-01 12:23:34</p>
                                </td>
                                <td>
                                    <p class="p fs14">
                                        <a href="#" class="btn btn-danger sure tbl-control btn-auto">查看</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="p fs14">2016-02-01 12:23:34</p>
                                </td>
                                <td>
                                    <p class="p fs14">
                                        {{ formatMoney(1000,2,"￥")}}
                                    </p>
                                </td>
                                <td>
                                    <p class="p fs14">线上支付—支付宝123***</p>
                                </td>
                                <td>
                                    <p class="p fs14">支付买车担保金<br>（订单号：23432423424）</p>
                                </td>
                                <td>
                                    <p class="p fs14">{{ formatMoney(1000,2,"￥")}}</p>
                                </td>
                                <td>
                                    <p class="p fs14"> 2016-02-01 12:23:34</p>
                                </td>
                                <td>
                                    <p class="p fs14">
                                        <a href="#" class="btn btn-danger sure tbl-control btn-auto">查看</a>
                                    </p>
                                </td>
                            </tr>
                            <tr class="p-gray">
                                <td>
                                    <p class="p fs14">2016-02-01 12:23:34</p>
                                </td>
                                <td>
                                    <p class="p fs14">
                                        {{ formatMoney(1000,2,"￥")}}
                                    </p>
                                </td>
                                <td>
                                    <p class="p fs14">线上支付—支付宝123***</p>
                                </td>
                                <td>
                                    <p class="p fs14">充值</p>
                                </td>
                                <td>
                                    <p class="p fs14">{{ formatMoney(1000,2,"￥")}}</p>
                                </td>
                                <td>
                                    <p class="p fs14"> 2016-02-01 12:23:34</p>
                                </td>
                                <td>
                                    <p class="p fs14">
                                        <a href="#" class="btn btn-danger sure tbl-control btn-auto">查看</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <br>

                        <div class="pageinfo ml200">
                            <a href="#">上一页</a>
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span class="empty">...</span>
                            <a href="#">下一页</a>
                            <label>共100页</label>
                        </div>
                        <div class="clear "></div>
                        <div class="m-t-10" v-for="i in 5"></div>
                        <table>
                            <tr>
                                <td width="80" valign="top">温馨提示：</td>
                                <td>
                                    <p>1.您可查询最近一年您主动向华车转入资金的明细记录。</p>
                                    <p>2.选择的时间不能超过当前时间，且结束时间不能早于开始时间。</p>
                                </td>
                            </tr>
                        </table>
                        <div class="m-t-10" v-for="i in 5"></div>

                </div>
                <div class="clear"></div>

            </div>
        </div>

    </div>

    <footer class="footer">
        <div class="footer-menu container">
            <ul>
                <li>
                    <h3>用户指南</h3>
                    <a href="#">买车流程</a>
                    <a href="#">诚信保障</a>
                    <a href="#">注意事项</a>
                </li>
                <li>
                    <h3>服务中心</h3>
                    <a href="#">服务协议</a>
                    <a href="#">平台规则</a>
                    <a href="#">常见问题</a>
                </li>
                <li>
                    <h3>关于我们</h3>
                    <a href="#">平台简介</a>
                    <a href="#">联系方式</a>
                    <a href="#">发现职位</a>
                </li>
                <li>
                    <h3>商务合作</h3>
                    <a href="#">加盟方入口</a>
                    <a href="#">媒体合作</a>
                    <a href="#">友情链接</a>
                </li>
                <li>
                    <div class="qrcode"><p>加微信关注我们</p></div>
                </li>
            </ul>
        </div>
        <div class="sp"></div>
        <div class="container pos-rlt foot-info">
            <p>@CopyRight 2014- 2015, 苏州华车网络科技有限公司   版权所有</p>
            <p> 工业信息化部信息备案：苏ICP备14017673号-1 </p>
        </div>
    </footer>

    <script src="./js/sea.js"></script>
    <script src="./js/config.js"></script>
    <script src="/webhtml/common/js/vendor/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        seajs.use(["../common/js/vendor/vue.min","module/user/user-record", "module/common/common"],function(v,u,c){
            //*页面加载初始化当前时间
            //不设置initEndTime的时间，会自动调用本地时间（当前时间）
            u.initEndTime("2017-4-1")
        })
    </script>

</body>
</html>


