<!DOCTYPE html>
<html>
<head>
    <title>k.2.9查看单笔提现详情 - 华车网</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="华车网" />
    <meta name="keywords" content="华车网" />
    <meta name="author" content="llm" />
    <link href="themes/bootstrap.css" rel="stylesheet" />
    <link href="../common/css/common.css" rel="stylesheet" />
    <link href="themes/user.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="head-wrapper">
        <div class="head-container">
            <div class="head-logo-wrapper">
                <a class="logo" href="/">华车网</a>
            </div>
            <ul class="head-nav-wrapper">
                <li><a href="#baozhang">诚信保障</a></li>
                <li><a href="#services">帮助中心</a></li>
            </ul>
            <ul class="head-login-wrapper">
                <li class="loginout">
                    <label>欢迎您，<a href="/user/" class="juhuang">客官8792</a><a href="/user/" class="hc-status inline-block">我的华车</a> </label>
                    <a @click="loginOutConfirm" href="javascript:;" class="hc-status-loginout">下车<em>(退出)</em></a>  
                    <div v-cloak v-show="isShowLoginOut" class="login-out-comfirm">
                        <p>退出登陆状态将重新回到<br>华车首页，是否继续？</p>
                        <div class="confirm">
                            <a @click="sureLoginOut" href="javascript:;">确认退出</a> 
                            <a @click="canceLoginOut" href="javascript:;" class="cancel">取消</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
   
    <div class="container m-t-86 pos-rlt content">
        <div class="wapper has-min-step">
            <div class="box box-border noborder">
                <div class="slide slide-fix">
                     <div class="portlet-body">
                        <div class="panel-group accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle"  href="javascript:;">我的华车 </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse ">
                                    <div class="panel-body">
                                        <a href="#">个人资料</a>
                                        <a href="#">安全设置</a>
                                        <a href="#">银行账户管理</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:;"> 我的订单  </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body" >
                                        <a href="#">我的订单</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:;"> 我的财务  </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body" >
                                        <a href="#">我的余额</a>
                                        <a class="menu-select" href="#">我的转入</a>
                                        <a href="#">我的提现</a>
                                        <a href="#">我的福利</a>
                                        <a href="#">我的发票</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default last">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:;"> 我的文件  </a>
                                    </h4>
                                    <i class="fa fa-sort-up"></i>
                                </div>
                                <div class="panel-collapse ">
                                    <div class="panel-body" >
                                        <a href="#">我的提交</a>
                                        <a href="#">我的下载</a>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="user-content user-content-with-margin  psr">
                    
                        <h2 class="title"><span class="pl10 juhuang weight fs14 pre-fix">提现记录  >  提现详情</span></h2>
                        <div class="box mt10">
                            <!--正常情况-->
                            <div class="fl wp40 ml20">
                                <table class="tbl">
                                    <caption>
                                       <img src="themes/images/into-apply.png" />
                                    </caption>
                                    <tr>
                                        <td width="100">
                                            <b class="fs14">申请时间</b>
                                        </td>
                                        <td>
                                            <span class="fs14" >2016-02-01 12:23:34</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">提现方式</b>
                                        </td>
                                        <td>
                                            <span class="fs14">银行转账</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">收款路线</b>
                                        </td>
                                        <td>
                                            <span class="fs14">（黑龙江省齐齐哈尔市）<br>中国工商银行齐齐哈尔人民路分理处</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">收款方账号</b>
                                        </td>
                                        <td>
                                            <span class="fs14">4212 7894 7892 6237 209</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">收款方户名</b>
                                        </td>
                                        <td>
                                            <span class="fs14">王子恒</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">提现金额</b>
                                        </td>
                                        <td>
                                            <span class="fs14">￥1,000.00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">银行手续费</b>
                                        </td>
                                        <td>
                                            <span class="fs14">—</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">提现付款金额</b>
                                        </td>
                                        <td>
                                            <span class="fs14">￥1,000.00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">工单编号</b>
                                        </td>
                                        <td>
                                            <span class="fs14">1468974465123</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="fl wp40 ml100">
                                <table class="tbl">
                                    <caption>
                                       <img src="themes/images/into-handle.png" />
                                    </caption>
                                    <tr>
                                        <td width="100">
                                            <b class="fs14">提现状态</b>
                                        </td>
                                        <td>
                                            <span class="fs14" >已完成</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">状态更新时间</b>
                                        </td>
                                        <td>
                                            <span class="fs14">2016-02-03 16:56:20</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">备注</b>
                                        </td>
                                        <td>
                                            <span class="fs14"><img src="themes/images/upload-img.png" /><span class="ml5">xxxx图片.jpg</span></span>
                                        </td>
                                    </tr>
                                   
                                </table>
                            </div>
                            <div class="clear"></div>
                            <!--提现状态为“已完成”，备注中显示办理转账凭证的图片（如没有图片可不显示）。另两种提现状态：-->
                            <div class="fl wp40 ml100">
                                <table class="tbl">
                                    <caption>
                                       <img src="themes/images/into-handle.png" />
                                    </caption>
                                    <tr>
                                        <td width="100">
                                            <b class="fs14">提现状态</b>
                                        </td>
                                        <td>
                                            <span class="fs14" >正在办理</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">状态更新时间</b>
                                        </td>
                                        <td>
                                            <span class="fs14"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">备注</b>
                                        </td>
                                        <td>
                                            <span class="fs14"></span>
                                        </td>
                                    </tr>
                                   
                                </table>
                            </div>

                            <div class="fl wp40 ml100">
                                <table class="tbl">
                                    <caption>
                                       <img src="themes/images/into-handle.png" />
                                    </caption>
                                    <tr>
                                        <td width="100">
                                            <b class="fs14">提现状态</b>
                                        </td>
                                        <td>
                                            <span class="fs14" >已完成</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">状态更新时间</b>
                                        </td>
                                        <td>
                                            <span class="fs14">2016-02-03 16:56:20</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">备注</b>
                                        </td>
                                        <td>
                                            <span class="fs14">提现付款金额已重新转入可用余额</span>
                                        </td>
                                    </tr>
                                   
                                </table>
                            </div>
                            
                            <div class="clear"></div>

                            <div class="fl wp40 ml20">
                                <table class="tbl">
                                    <caption>
                                       <img src="themes/images/into-apply.png" />
                                    </caption>
                                    <tr>
                                        <td width="100">
                                            <b class="fs14">申请时间</b>
                                        </td>
                                        <td>
                                            <span class="fs14" >2016-02-01 12:23:34</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">提现方式</b>
                                        </td>
                                        <td>
                                            <span class="fs14">线上支付</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">收款路线</b>
                                        </td>
                                        <td>
                                            <span class="fs14">支付宝</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">收款方账号</b>
                                        </td>
                                        <td>
                                            <span class="fs14">1233458@163.com</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">收款方户名</b>
                                        </td>
                                        <td>
                                            <span class="fs14">—</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">提现金额</b>
                                        </td>
                                        <td>
                                            <span class="fs14">￥1,000.00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">银行手续费</b>
                                        </td>
                                        <td>
                                            <span class="fs14">—</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">提现付款金额</b>
                                        </td>
                                        <td>
                                            <span class="fs14">￥1,000.00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b class="fs14">工单编号</b>
                                        </td>
                                        <td>
                                            <span class="fs14">1468974465123</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <table class="tbl">
                                    <caption class="psr">
                                       <img src="themes/images/into-detail.png" />
                                       <img src="themes/images/into-handle.png" class="psa right240" />
                                    </caption>
                                    <tr>
                                        <th width="140">
                                            <b class="fs14">工单编号</b>
                                        </th>
                                        <th width="96">
                                            <span class="fs14" >提现金额</span>
                                        </th>
                                        <th width="96">
                                            <span class="fs14" >提现付款金额</span>
                                        </th>
                                        <th width="196">
                                            <span class="fs14" >对应入账流水号</span>
                                        </th>
                                        <th width="85">
                                            <span class="fs14" >提现状态</span>
                                        </th>
                                        <th width="155">
                                            <span class="fs14" >状态更新时间</span>
                                        </th>
                                        <th width="130">
                                            <span class="fs14" >备注</span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td><span class="fs14">1468974465123</span></td>
                                        <td><span class="fs14">￥1,000.00</span></td>
                                        <td><span class="fs14">￥1,000.00</span></td>
                                        <td class="word"><span class="fs14 word">5648161231613245613213123123123</span></td>
                                        <td><span class="fs14">正在办理</span></td>
                                        <td><span class="fs14"></span></td>
                                        <td><span class="fs14"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="fs14">1468974465124</span></td>
                                        <td><span class="fs14">￥1,000.00</span></td>
                                        <td><span class="fs14">￥1,000.00</span></td>
                                        <td class="word"><span class="fs14 word">5648161231613245613213123123123</span></td>
                                        <td><span class="fs14">已完成</span></td>
                                        <td><span class="fs14">2016-02-03 16:56:20</span></td>
                                        <td><span class="fs14"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="fs14">1468974465125</span></td>
                                        <td><span class="fs14">￥1,000.00</span></td>
                                        <td><span class="fs14">￥1,000.00</span></td>
                                        <td class="word"><span class="fs14 word">5648161231613245613213123123123</span></td>
                                        <td><span class="fs14">未成功</span></td>
                                        <td><span class="fs14">2016-02-03 16:56:20</span></td>
                                        <td><span class="fs14">提现付款金额已重新转入可用余额</span></td>
                                    </tr>
                                </table>
                            

                        </div> 
                        <div class="clear "></div>
                        
                        <div class="m-t-10" v-for="i in 3"></div>
                        <p class="tac">
                            <a href="#" class="btn btn-danger sure">返回</a>
                        </p>
                        <div class="m-t-10" v-for="i in 5"></div>

                </div>
                <div class="clear"></div>

            </div>
        </div>

    </div>

    <footer class="footer">
        <div class="footer-menu container">
            <ul>
                <li>
                    <h3>用户指南</h3>
                    <a href="#">买车流程</a>
                    <a href="#">诚信保障</a>
                    <a href="#">注意事项</a>
                </li>
                <li>
                    <h3>服务中心</h3>
                    <a href="#">服务协议</a>
                    <a href="#">平台规则</a>
                    <a href="#">常见问题</a>
                </li>
                <li>
                    <h3>关于我们</h3>
                    <a href="#">平台简介</a>
                    <a href="#">联系方式</a>
                    <a href="#">发现职位</a>
                </li>
                <li>
                    <h3>商务合作</h3>
                    <a href="#">加盟方入口</a>
                    <a href="#">媒体合作</a>
                    <a href="#">友情链接</a>
                </li>
                <li>
                    <div class="qrcode"><p>加微信关注我们</p></div>
                </li>
            </ul>
        </div>
        <div class="sp"></div>
        <div class="container pos-rlt foot-info">
            <p>@CopyRight 2014- 2015, 苏州华车网络科技有限公司   版权所有</p>
            <p> 工业信息化部信息备案：苏ICP备14017673号-1 </p>
        </div>
    </footer>

    <script src="./js/sea.js"></script>
    <script src="./js/config.js"></script>
    <script type="text/javascript">
        seajs.use(["../common/js/vendor/vue.min","module/user/user-base", "module/common/common"],function(v,u,c){
           
        })
    </script>

</body>
</html>


