APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

ALIPAY_PID=支付宝pid号
ALIPAY_SELLER_EMAIL=卖家邮箱账号
ALIPAY_KEY=支付宝key

WWW_URL=网站主域名
DOMAIN=域名

MACHINE_ID=机器编号:整数
