/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/nbproject
/resources/views/auth/passwords
/resources/views/home.blade.php
/resources/views/Test
/public/themes/images/reg/reg-bg.psd
.buildpath
.project
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.validation.prefs
public/.user.ini
composer.lock
.settings
.vscode/launch.json
Vagrantfile
